.title{
    top: 20px;
    position: relative;
    width:600px;
    height: 100px;
    background-color: #f87658;
    left: 50%;
    margin-left: -300px;
}

.box{
    position: relative;
    top: 170px;
    width: 900px;
    height: 350px;
    left: 50%;
    margin-left: -450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yunzi{
    width: 350px;
    height: 350px;
    background-image: linear-gradient(to bottom right,rgb(172,201,248),rgb(84,148,253));
    border: 1px solid rgb(84,148,253);
    border-radius: 10%;
    box-shadow: 2px 5px 5px rgb(56,116,216);
    text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: white;
}

.guanli{
    width: 350px;
    height: 350px;
    background-color: rgb(72, 129, 221);
    border: 1px solid rgb(72, 129, 221);
    border-radius: 10%;
    box-shadow: 2px 5px 5px rgb(44,95,178);
    text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: white;
}

.help{
    position: absolute;
    width: 60px;
    height: 20px;
    top: 750px;
    left: 50%;
    margin-left: -30px;
    background-color: white;
    border: 0;
    color: rgb(10, 97, 155);
    font-size: 20px;
}

.back{
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: red;
    left: 5%;
    top: 10%;
}