.title{
    top: 20px;
    position: relative;
    width:600px;
    height: 100px;
    background-color: #f87658;
    left: 50%;
    margin-left: -300px;
}

.box{
    position: relative;
    top: 120px;
    width: 600px;
    height: 530px;
    left: 50%;
    margin-left: -300px;
    border: 1px solid rgb(131, 129, 129);
    border-radius: 10%;
    box-shadow: 2px 2px 10px rgb(131, 129, 129);
}

.reset{
    position: absolute;
    top: 50px;
    width: 400px;
    height: 100px;
    left: 50%;
    margin-left: -200px;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    font-weight: 500;
}

.box2{
    position: absolute;
    top: 160px;
    width: 400px;
    height: 180px;
    left: 50%;
    margin-left: -200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

input{
    width: 400px;
    height: 53px;
    border-radius: 10px;
    border: 1px solid rgb(131, 129, 129);
    font-size: 20px;
    line-height: 53px;
}

.back{
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: red;
    left: 5%;
    top: 10%;
}

.xiugai{
    position: absolute;
    top: 400px;
    width: 200px;
    height: 60px;
    background-color: rgb(29, 91, 190);
    left: 50%;
    margin-left: -100px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    border: 1px solid rgb(224, 222, 223);
}
